body {
	margin: 0px;
	padding: 0px;
	border: 0px hidden;
	background: #e0e0e0;
	font-family: Verdana;
	font-size: 14px;
	color: #181818;
	overflow-y: scroll;
}

.main {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	line-height: 0%;
	text-align: center;
	white-space: nowrap;
}
.aligner {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;

	transition: height 0.5s ease-in-out;
	-webkit-transition: height 0.5s ease-in-out;
}
.aligner.align_top {
	height: 0%;
}
.middle {
	text-align: left;
	white-space: normal;
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}

.main_container {
	position: relative;
}
.main_container_background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #ffffff;
	border-radius: 20px;
	margin: -20px;
	box-shadow: 0px 0px 200px 200px #ffffff;
}
.main_container_inner {
	position: relative;
}

.title_container {
	display: block;
	position: relative;
	text-align: center;
}
.title {
	color: #181818;
	font-size: 120px;
	font-weight: bold;
	line-height: 100%;
	cursor: pointer;
	text-shadow: 0px 0px 6px #a0a0a0, 0px 0px 6px #a0a0a0, 0px 0px 6px #a0a0a0;
	text-decoration: none;
	transition: color 0.25s linear, text-shadow 0.25s linear;
	-webkit-transition: color 0.25s linear, text-shadow 0.25s linear;
}
.title:hover {
	color: #dd0000;
	text-shadow: 0px 0px 6px #a0a0a0, 0px 0px 6px #a0a0a0, 0px 0px 6px #a0a0a0;
}
.title:after {
	content: attr(text_value);
}

.author {
	position: absolute;
	left: 0;
	top: 16px;
	line-height: 100%;
	font-size:16px;
	cursor: pointer;
	color: #c0c0c0;
	font-style: italic;
	text-decoration: none;
	text-shadow: 0px 0px 6px #e8e8e8;
	opacity: 0;
	transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}
.author:hover {
	opacity: 1;
}
.author:after {
	content: attr(text_value);
}

.navigation {
	position: relative;
	text-align: center;
}
.navigation_link+.navigation_link{
	margin-left: 10px;
}

.navigation_link {
	position: relative;
	color: #181818;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.125s linear, text-shadow 0.125s linear;
	-webkit-transition: color 0.125s linear, text-shadow 0.125s linear;
}
.navigation_link:hover, .navigation_link.active:hover {
	color: #dd0000;
}
.navigation_link.active {
	color: #aa0000;
}
.navigation_link:after {
	position: relative;
	content: attr(navigate);
}
.navigation_link:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
	opacity: 0;
	transition: opacity 0.125s linear;
	-webkit-transition: opacity 0.125s linear;
}
.navigation_link:hover:before,.navigation_link.active:before {
	opacity: 1;
}

.content_container_outer {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
	opacity: 0;

	transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
}
.content_container_outer.displaying_content {
	display: block;
}
.content_container_outer.visible_content {
	opacity: 1;
}
.content_container_inner {
	position: relative;
	width: 400px;
	display: inline-block;
	text-align: left;
	border-top: 2px solid #d8d8d8;
	margin-top: 6px;
}
.content_container_main {
	position: relative;
	width: 100%;
	border-top: 2px solid #e8e8e8;
	padding-top: 6px;
}

.content {
	display: block;
}
.content.hidden {
	display: none;
}

.no_transition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

p {
	margin: 0px;
	padding: 0px;
	line-height: 120%;
}
p.inverse_indent {
	text-indent: -20px;
	margin-left: 20px;
}
p+p,p+code,code+p,p+ul,ul+p,div+p,p+div {
	margin-top: 8px;
}

.browser_header {
	font-weight: bold;
}
.browser_header_icon {
	width: 18px;
	height: 18px;
	margin: -1px;
	display: inline-block;
	margin-right: 8px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
.browser_header_icon.firefox {
	background-image: url("icons/firefox.png");
}
.browser_header_icon.chrome {
	background-image: url("icons/chrome.png");
}

ol {
	padding: 0px;
	margin: 0px 0px 0px 20px;
}

a:not([class]) {
	color: #dd0000;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	transition: color 0.125s linear;
	-webkit-transition: color 0.125s linear;
}
a:not([class]):hover {
	color: #aa0000;
}
a:not([class]):before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
	opacity: 0;
	transition: opacity 0.125s linear;
	-webkit-transition: opacity 0.125s linear;
}
a:not([class]):hover:before {
	opacity: 1;
}

.install_link {
	color: #dd0000;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	transition: color 0.125s linear;
	-webkit-transition: color 0.125s linear;
}
.install_link:hover {
	color: #aa0000;
}
.install_link:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	margin-bottom: 0px;
	border-bottom: 1px dashed #dd0000;
	transition: border-color 0.125s linear;
	-webkit-transition: border-color 0.125s linear;
}
.install_link:hover:before {
	border-color: #000000;
}

.inline_code {
	font-family: Courier New;
}

.changelog_status:before,.changelog_status:after {
	display: block;
}
.changelog:not(.loaded):not(.error)>.changelog_status:before {
	content: "Loading changelog...";
}
.changelog.error>.changelog_status:before {
	content: "Changelog could not be loaded:";
}
.changelog.error>.changelog_status[error_message]:after {
	content: attr(error_message);
	color: #dd0000;
}
.changelog_item {
	display: block;
}
.changelog_item_title {
	font-weight: bold;
	padding-bottom: 4px;
}
.changelog_item_title_link {
	color: #dd0000;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	transition: color 0.125s linear;
	-webkit-transition: color 0.125s linear;
}
.changelog_item_title_link:hover {
	color: #aa0000;
}
.changelog_item_title_link:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
	opacity: 0;
	transition: opacity 0.125s linear;
	-webkit-transition: opacity 0.125s linear;
}
.changelog_item_title_link:hover:before {
	opacity: 1;
}
.changelog_item_title_date {
	font-weight: normal;
	color: #404040;
}
.changelog_item_title_date:before {
	content: " / ";
	color: #808080;
}
.changelog_item_content {
	padding: 0px 0px 32px 20px;
	margin: 0px;
	list-style-type: disc;
}
.changelog_item_change {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}
.changelog_item_change+.changelog_item_change {
	padding-top: 4px;
}

.side_navigation,.side_navigation.fixed>.side_navigation_inner_1 {
	padding-top: 10px
}
.side_navigation {
	position: absolute;
	right: 100%;
	top: 0;
	margin-top: -4px;
	margin-right: 10px;
}
.side_navigation_inner_1 {
	position: absolute;
	width: 0;
}
.side_navigation_inner_2 {
	position: absolute;
	right: 100%;
	display: inline-block;
}
.side_navigation.fixed>.side_navigation_inner_1 {
	position: fixed;
	top: 0;
}
.side_navigation_title {
	font-weight: bold;
	margin-bottom: 6px;
}
.side_navigation_title:after {
	content: attr(text_value);
}
.side_navigation_link {
	color: #dd0000;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	transition: color 0.125s linear;
	-webkit-transition: color 0.125s linear;
}
.side_navigation_link:hover {
	color: #aa0000;
}
.side_navigation_link:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
	opacity: 0;
	transition: opacity 0.125s linear;
	-webkit-transition: opacity 0.125s linear;
}
.side_navigation_link:hover:before {
	opacity: 1;
}
.side_navigation_link:after {
	content: attr(text_value);
}
.side_navigation_link_container {
	position: relative;
}
.side_navigation_link_container+.side_navigation_link_container{
	margin-top: 3px;
}
.side_navigation_link_container:before {
	position: absolute;
	right: 100%;
	content: ">";
	color: #dd0000;
	opacity: 0;
	transition: opacity 0.125s linear;
	-webkit-transition: opacity 0.125s linear;
}
.side_navigation_link_container.current:before {
	opacity: 1;
}
.side_navigation_link_container.current>.side_navigation_link {
	color: #aa0000;
}
.side_navigation_link_container.current>.side_navigation_link:before {
	opacity: 1;
}

.sectioned_content {
}
.section {
	margin-left: 8px;
}
.section+.section {
	margin-top: 20px;
}
.sectioned_content>.section+.section {
	margin-top: 64px;
}
.section_label {
	font-weight: bold;
	margin-bottom: 4px;
	margin-left: -8px;
	font-size: 18px;
}

.param_description {
	margin-left: 16px;
	padding: 0px;
	display: block;
	list-style-type: none;
}
.param+.param {
	margin-top: 4px;
}

.param {
	position: relative;
}
.param:not(.param_nameless)>div:first-child {
	float: left;
	display: inline-block;
	font-family: Courier New;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	padding: 2px;
	border-radius: 4px;
	font-weight: bold;
}
.param.param_object.not_newlined:not(.tabbed):not(.param_nameless)>div:first-child {
	float: none;
}
.param>div:last-child {
	padding-top: 2px;
	display: block;
	overflow: hidden;
}
.param.param_object:not(.not_newlined)>div:last-child {
	overflow: visible;
}
.param>div:last-child:before {
	content: ":";
	margin: 0px 6px;
	float: left;
	display: inline-block;
}
.param.param_object>div:last-child:before {
	content: "{";
}
.param.param_object.param_array>div:last-child:before {
	content: "[";
}
.param.param_object>div:last-child:after {
	content: "}";
	margin: 0px 6px;
	float: left;
	display: inline-block;
	clear: both;
}
.param.param_object.param_array>div:last-child:after {
	content: "]";
}
.param.param_object:not(.not_newlined)>div:last-child:before {
}
.param.param_object:not(.not_newlined)>div:last-child:after {
	float: none;
}
.param.param_object.not_newlined>div:last-child>div:before {
	content: " ";
	white-space: pre;
	display: block;
}
.param>div:last-child>div {
	display: block;
	overflow: hidden;
}
.param.param_object:not(.not_newlined)>div:last-child>div {
	clear: both;
	margin-left: 20px;
}
.param.param_object>div:last-child>div {
	padding-top: 4px;
}
.param>div:last-child>div>.param_description {
	margin-left: 0px;
}

.sub_section {
	margin-top: 20px;
	margin-left: 8px;
}
.sub_section_label {
	font-weight: bold;
	margin-left: -8px;
	margin-bottom: 4px;
}

.loading_message[message]:after {
	content: attr(message);
}
.loading_message.error[message] {
	color: #dd0000;
}

li>* {
	vertical-align: middle;
}
li {
	margin: 0px;
	padding: 0px;
}
li+li {
	margin-top: 2px;
}

code {
	white-space: pre;
	display: block;
	unicode-bidi: embed;
	font-family: Courier New;
	font-size: 12px;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	overflow: auto;
	padding: 4px;
	border-radius: 8px;
}

*::selection {
	color: #ffffff;
	background-color: #dd0000;
	text-shadow: none;
}
*::-moz-selection {
	color: #ffffff;
	background-color: #dd0000;
	text-shadow: none;
}

